ul {
  list-style: none;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.shopping {
  display: flex;
  padding: 20px 0;
  margin: 20px 0;
  flex-direction: ;
}
.shopping__cards {
  width: 75%;
  margin: 0 20px 0 30px;
}
.shopping__price {
  width: 25%;
}

.shopping__price--card {
  border: 1px solid rgb(44, 44, 44);
  padding: 10px;
}
